@import 'blocks-core/button';
@import 'blocks-core/cover';
@import 'blocks-core/group';
@import 'blocks-core/media-text';
@import 'blocks-core/paragraph';


.wp-block-post-template li,
.article-list-item{
    width: auto !important;

    a{
        text-decoration: none;
        display: block;
    }
    img{
        width: 100%;
        display: block;
        margin: 0;
    }
    figure{
        margin-bottom: 35px;
    }

    h3{
        font-size: var(--wp--preset--font-size--md);
        margin-top: 1em;
    }
    .wp-block-post-excerpt{
        margin: 0;
    }

}

.wp-block-post-template.is-flex-container,
.block-article-grid .wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px !important;

    @include media-breakpoint-down(md){
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-down(xs){
        grid-template-columns: 1fr;
    }
}




.wp-block-post-excerpt__more-link,
.article-list-item .more{

}
