*{
    box-sizing: border-box;
}

body {

}

.indicator{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #fff;
    z-index: 9999;
    color: #000;
    &:before{
        @include media-breakpoint-only(xxl){ content: 'xxl' }
        @include media-breakpoint-only(xl){ content: 'xl'; }
        @include media-breakpoint-only(lg){ content: 'lg'; }
        @include media-breakpoint-only(md){ content: 'md'; }
        @include media-breakpoint-only(sm){ content: 'sm'; }
        @include media-breakpoint-only(xs){ content: 'xs'; }
        @include media-breakpoint-only(xss){ content: 'xxs'; }
    }
}

body .is-layout-constrained{
    padding-left: var(--wp--style--block-gap);
    padding-right: var(--wp--style--block-gap);
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)){
    @include make-container-max-widths();

    // &:not(ul):not(ol){
    //     padding-left: var(--wp--style--block-gap);
    //     padding-right: var(--wp--style--block-gap);
    // }
}
body .is-layout-constrained .alignwide {
    max-width: var(--wp--style--global--wide-size);
    // padding-left: var(--wp--style--block-gap);
    // padding-right: var(--wp--style--block-gap);
}
body .is-layout-constrained .alignfull{
    margin-left: calc(-1 * var(--wp--style--block-gap) );
    margin-right: calc(-1 *var(--wp--style--block-gap) );
}


img{
    max-width: 100%;
    height: auto;
}

body{
    @include media-breakpoint-down(sm){
        --wp--preset--spacing--10: 10px;
        --wp--preset--spacing--30: 15px;
        --wp--preset--spacing--60: 30px;
        --wp--preset--spacing--80: 40px;
        --wp--preset--spacing--100: 50px;
        --wp--preset--spacing--130: 60px;
    }
}

.splide__arrows {
    .splide__arrow{
        position: absolute;
        top: 50%;
        background: transparent;
        padding: 0;
        border-radius: 0;

        &:disabled,
        &[disabled]{
            opacity: 0;
        }

        path{
            fill: var(--wp--preset--color--primary);
            @include trans;
        }

        &.splide__arrow--prev{
            left: 0;
            transform: translateX(-100%) scaleX(-1);
        }
        &.splide__arrow--next{
            right: 0;
            transform: translateX(100%);
        }

        &:hover,
        &:focus{
            path{
                fill: var(--wp--preset--color--secondary);
            }
        }
    }
}
.splide__pagination{
    margin: var(--wp--style--block-gap) 0 0;
    padding: 0;

    li{
        margin: 0 5px 10px;
    }

    button{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 0;

        &:hover,
        &:focus,
        &.is-active{
            background: var(--wp--preset--color--secondary);
        }
    }
}