.wpcf7-form {
    position: relative;

    p{
        margin-top: 0;
    }
    .wpcf7-form-control.wpcf7-submit {

    }
    .wpcf7-not-valid-tip {

    }
    .wpcf7-response-output {
        background: #fff;
        margin: 1em 0 !important;
    }

    // .has-spinner + .wpcf7-spinner{
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    //     margin: 0;
    // }

    .row{
        @include media-breakpoint-up(md){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0px 60px;
        }
    }

    .space-between,
    .space-between p{
        width: 100%;
        display: flex;
        align-items: center;
        .wpcf7-submit{
            margin-left: auto;
        }

        .wpcf7-list-item{
            margin-bottom: 0;
        }
    }

    .wpcf7-list-item{
        margin-left: 0;
        display: block;

        &+.wpcf7-list-item{
            margin-top: 15px;
        }

        label{
            position: relative;
            cursor: pointer;
            input{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
            span{
                padding-left: 30px;
                &:after{
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 20px;
                    border: 1px solid #000;
                    left: 0;
                    top: 3px;
                }
                &:before{
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 5px;
                    border: 3px solid #000;
                    border-width: 0 0 3px 3px;
                    top: 9px;
                    left: 5px;
                    transform: rotate(-45deg);
                    opacity: 0;
                }
            }
            input:checked + span:before{
                opacity: 1;
                border-color: var(--wp--preset--color--primary);
            }
        }
    }

}