body {
    --header-height: 100px;
    @include media-breakpoint-down(md){
        --header-height: 80px;
    }
}

.header {
    box-shadow: 0 0 16px 0 rgba(#000, 0.1);

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0 !important;
        margin-right: 0 !important;
        min-height: var(--header-height);
    }
    .logo {
        font-size: var(--wp--preset--font-size--lg);
        text-decoration: none;
        svg {
            height: 60px;
            display: block;
        }
    }

    @include media-breakpoint-up(lg) {
        .nav_wrap {
            display: flex;
            flex-grow: 1;
            align-items: center;
        }

        ul {
            list-style: none;
            display: flex;

            li {
                position: relative;
                margin-left: 50px;
                &:first-child {
                    margin: 0;
                }
                @include media-breakpoint-down(lg) {
                    margin-left: 30px;
                }
            }

            a {
                color: var(--wp--preset--color--text);
                text-decoration: none;
                font-size: var(--wp--preset--font-size--sm);
                padding: 15px 0px;
                position: relative;
                @include trans;
                display: block;
            }

            li.menu-item-has-children > a {
                position: relative;
                padding-right: 20px;
                &:before {
                    @include trans;
                    position: absolute;
                    content: "";
                    top: 50%;
                    transform: translateY(-70%) rotate(45deg);
                    right: 0px;
                    width: 10px;
                    height: 10px;
                    border: 2px solid currentColor;
                    border-width: 0 2px 2px 0;
                }
            }

            a:hover,
            > li:hover > a,
            a:focus,
            > li:focus > a,
            li.current-menu-item > a,
            li.current-menu-ancestor > a,
            li.current-menu-parent > a {
                text-decoration: none;
                color: var(--wp--preset--color--primary);
            }

            --sub-menu-item-height: 40px;

            li:not(:hover) > ul{
                pointer-events: none;
                opacity: 0;
                li {
                    visibility: hidden;
                    height: 0;
                    margin: 0;
                    transition:
                        0.5s 0.1s height,
                        0.5s 0.1s padding,
                        0.5s 0.1s margin,
                        0.3s color,
                        0.6s visibility;
                    z-index: 99;
                }
            }
            li a:focus + ul{
                opacity: 1;
                pointer-events: all;
                li{
                    visibility: visible !important;
                    height: var(--sub-menu-item-height) !important;

                }
            }

            ul {
                background: #fff;
                box-shadow: 0 0 16px 0 rgba(0,0,0,0.1);
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 300px;
                position: absolute;
                z-index: 100;
                margin: 0;
                padding: 15px;
                transition:
                    0.5s padding,
                    0.5s background-color,
                    0.5s opacity;

                li {
                    display: block;
                    overflow: hidden;
                    height: var(--sub-menu-item-height);
                    background: rgba(0, 0, 0, 0);
                    white-space: nowrap;
                    margin: 0;
                    padding: 0;
                    transition:
                        0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5),
                        0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5),
                        0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5),
                        0.5s 0.2s color,
                        0.2s background-color;
                }
                li + li{
                    margin-top: 10px;
                }
                a{
                    padding: 0;
                    height: var(--sub-menu-item-height);
                    display: flex;
                    align-items: center;
                }
            }

            // > li:hover {
            //     ul {
            //         display: block;

            //         li:after {
            //             display: none;
            //         }
            //     }
            // }
        }
    }

    .menu-close,
    .menu-open {
        display: none;
    }

}
body.menu_open {
    overflow: hidden;
}

@include media-breakpoint-down(md) {
    .header {


        .nav-wrap {
            display: flex;
            position: fixed;
            flex-flow: column;
            top: 0;
            right: 0px;
            background: var(--wp--preset--color--secondary);
            width: 100vw;
            height: 100vh;
            overflow: auto;
            padding: var(--wp--style--block-gap);
            z-index: 9999;
            transform: translateX(100vw);
            @include trans;

            &.active {
                display: flex;
                transform: translateX(0%);
            }

            nav {
                order: 15;
            }
            ul {
                display: flex;
                flex-flow: column;
                list-style: none;
                margin: 0;
                padding: 0;

                li+li{
                    margin-top: 1em;
                }

                a {
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    position: relative;
                    font-size: var(--wp--preset--font-size--md);
                    @include trans;
                    &:hover{
                        padding-left: 0.5em;
                    }
                }

                // li.menu-item-has-children > a {
                //     position: relative;
                //     padding-right: 20px;
                //     &:before {
                //         @include trans;
                //         position: absolute;
                //         content: "";
                //         top: 50%;
                //         transform: translateY(-70%) rotate(45deg);
                //         right: 0px;
                //         width: 10px;
                //         height: 10px;
                //         border: 2px solid currentColor;
                //         border-width: 0 2px 2px 0;
                //     }
                // }

                ul {
                    margin-left: 1em;
                    margin-bottom: 1em;
                    margin-top: 1em;
                    a {
                        font-size: var(--wp--preset--font-size--sm);
                    }
                }

                a:hover,
                li.current-menu-item > a {

                }
            }
        }

        .menu-open,
        .menu-close {
            display: block;
            .label {
                display: none;
            }
        }

        .menu-open {
            width: 30px;
            height: 30px;
            padding: 0;
            border: 0 none;
            margin-left: auto;
            background: transparent;
            order: 50;
            margin-bottom: 0;
            cursor: pointer;

            i {
                width: 30px;
                height: 2px;
                display: block;
                background: var(--wp--preset--color--quaternary);
                position: relative;
                @include trans;

                &:after,
                &:before {
                    position: absolute;
                    background: inherit;
                    content: "";
                    width: 30px;
                    height: 2px;
                    left: 0px;
                    @include trans;
                }

                &:before {
                    top: -10px;
                }

                &:after {
                    bottom: -10px;
                }
            }
        }

        .menu-close {
            order: 1;
            width: 30px;
            height: 30px;
            padding: 0;
            border: 0 none;
            margin-left: auto;
            background: transparent;
            margin-bottom: 30px;
            cursor: pointer;

            i {
                width: 30px;
                height: 2px;
                display: block;
                background: transparent;
                position: relative;
                @include trans;

                &:after,
                &:before {
                    position: absolute;
                    background: inherit;
                    background: #fff;
                    content: "";
                    width: 38px;
                    height: 2px;
                    left: 50%;
                    top: 50%;
                    @include trans;
                }

                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }

}