.wp-pagenavi{
    margin-top: var(--wp--preset--spacing--100);
    text-align: center;
    span, a{
        display: inline-block;
        line-height: 2em;
        min-width: 2em;
        padding: 0 5px;
        margin: 0 2px 4px;
        @include trans;
        text-decoration: none;
    }
    .current{
        background: var(--wp--preset--color--primary);
        color: #fff;
    }
    a:hover{
        background: var(--wp--preset--color--secondary);
        color: #fff;
    }
}