$grid-breakpoints: (xxs: 0,
    xs: 400px,
    sm: 600px,
    md: 760px,
    lg: 990px,
    xl: 1240px,
    xxl: 1600px);

$container-max-widths: (xs: 400px,
    sm: 600px,
    md: 740px,
    lg: 970px,
    xl: 1100px,
    xxl: 1200px);

$media-border-radius: 0px;