@import '../../scss/variables';
@import '../../scss/mixins';

.block-steps {

    .wrap{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }
}
